@charset "UTF-8";

* { margin: 0; padding: 0; }
.calendar { position:absolute; width:350px; border:1px solid #000; background-color: #fff; }
.calendar h2 { margin: 2px 0; text-align: center; }
.calendar ol,ul { overflow: hidden; }
.calendar li { float: left; list-style: none; width: 50px; height: 50px; line-height: 50px; font-size: 20px; text-align: center; }

.weekend { color:red; }
.today { background-color: blue; color: #fff; }
.past { color: #999; }

.calendar a { position: absolute; top: 0; width: 50px; line-height: 50px; height: 50px; text-align: center; font-size: 20px; text-decoration: none; }
.calendar .prev { left: 10px; }
.calendar .next { right: 10px; }